[submodule "istio/api"]
	path = istio/api
	url = git@gitlab.alibaba-inc.com:csb2/istio_api.git
	branch = istio-1.19
[submodule "istio/istio"]
	path = istio/istio
	url = git@gitlab.alibaba-inc.com:csb2/istio.git
	branch = istio-1.19
[submodule "istio/client-go"]
	path = istio/client-go
	url = git@gitlab.alibaba-inc.com:csb2/istio_client-go.git
	branch = istio-1.19
[submodule "istio/pkg"]
	path = istio/pkg
	url = git@gitlab.alibaba-inc.com:csb2/istio_pkg.git
	branch = istio-1.19
[submodule "istio/proxy"]
	path = istio/proxy
	url = git@gitlab.alibaba-inc.com:csb2/istio_proxy.git
	branch = istio-1.19
[submodule "envoy/go-control-plane"]
	path = envoy/go-control-plane
	url = git@gitlab.alibaba-inc.com:csb2/envoy_go-control-plane.git
	branch = istio-1.19
[submodule "envoy/envoy"]
	path = envoy/envoy
	url = git@gitlab.alibaba-inc.com:csb2/envoy.git
	branch = envoy-1.27
[submodule "aigateway-ratelimit-quota-knownow"]
	path = aigateway-ratelimit-quota-knownow
	url = git@gitlab.alibaba-inc.com:lvshui/aigateway-ratelimit-quota-knownow.git
	branch = main
[submodule "ratelimit-quota-server"]
	path = ratelimit-quota-server
	url = git@gitlab.alibaba-inc.com:csb2/ratelimit-quota-server
	branch = master
